@page
@model IndexModel
@{
    ViewData["Title"] = "Catalog";
}
<h1>H2S04 Shop</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
            <div class="leftbar">
                <!--  -->
                <h4 class="">
                    Categories
                </h4>
                
                        @*@Html.ListBoxFor(m => m.SelectedCategories,
                new MultiSelectList(Model.Categories
                , "Id", "Name"), null)*@


                @*@Html.ListBoxFor(m => m.SelectedCategories, new MultiSelectList(Model.Categories, "Id", "Name"), new { @class = "chosen-select", @multiple = "true" })*@

                @*<div class="form-group">
                    @Html.DropDownListFor(m => m.SelectedCategories, new SelectList(Model.Categories, "Id", "Name"), new { @class = "form-control", multiple = "true" })
                </div>*@
                
                <!--  -->
                <h4 class="">
                    Filters
                </h4>
                <form>
                    @*<p>
                        Name:
                        <input type="text" asp-for="SearchString" />
                        <input type="submit" value="Filter" />
                    </p>*@

                    @*<div class="form-group">
                        <div class="form-control">
                            <select asp-for="SelectedCategoryId" asp-items="@(new SelectList(Model.
                        Categories,"Id","Name") )"></select>
                        </div>
                    </div>*@

                    <div class="form-group">
                        <div class="col-md-10">
                            <select asp-for="@Model.SelectedCategoryId" asp-items="@Model.CategoryItems"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="SearchString" class="control-label"></label>
                        <input asp-for="SearchString" class="form-control" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>

                </form>

            </div>
        </div>

        <div class="col-sm-6 col-md-8 col-lg-9">
            <section>
                <div class="container">
                    <div class="row">

                        @if(Model.Count == 0){
                            <p>No data</p>
                        }

                        @foreach (var item in Model.Products)
    {
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                                @{
                var content = "/images/";
                content += item.Image.ToString();

                                }
                                <img src=@content style="width:100%;height:100%" />


                                <div class="block2-overlay trans-0-4">
                                    <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                    </a>

                                    <div class="block2-btn-addcart w-size1 trans-0-4">
                                        <!-- Button -->
                                        <button class="add-to-cart flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                            Add to Cart
                                        </button>
                                        <div class="details-link">
                                            <a asp-page="/Secure/Admin/Products/Details" asp-route-id="@item.Id" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">Details</a>
                                        </div>



                                    </div>
                                </div>
                            </div>

                            <div class="block2-txt p-t-20">
                                <div>
                                    @item.Name
                                </div>
                                <span class="block2-price m-text6 p-r-5">
                                    @item.Price <span> @item.Currency</span>
                                </span>
                            </div>
                        </div>
                    </div>


}

                    </div>
                </div>

            </section>
        </div>

    </div>

    <ul class="pagination">

        @for (var i = 1; i <= Model.TotalPages(); i++)
    {

        <li class="page-item @(i == Model.CurrentPage ? "active" : "" )">
            <a asp-page="./Index" asp-route-SelectedCategoryId="@Model.SelectedCategoryId"  asp-route-SearchString="@Model.SearchString" asp-route-CurrentPage="@i" class="page-link">@i</a>
        </li>

}

    </ul>

</div>
<script>
    @*(function () {
            var button = document.querySelector("block2-btn-addcart");
            button.addEventListener("click", function (event) {
                    console.log(event)
            }, false);
        })();*@


       setTimeout(function(){
                jQuery(".add-to-cart").click(function(e){console.log(e)})
        },500)






</script>