@page
@model H2S04.Pages.Secure.Admin.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        @if (User.IsInRole(Constants.ProductAdministratorsRole))
        {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.LastModified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.IsActive)
        </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Image)
        </dt>
        <dd class="col-sm-10">
            @{
            var content = "/images/";
            content += @Model.Product.Image.ToString();
            }
            <img src=@content style="width:50px;height:75px;" />
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole(Constants.ProductAdministratorsRole))
    {
        <a asp-page="./Edit" asp-route-id="@Model.Product.Id">Edit</a>
        <a asp-page="./Index"> Back to List</a>
    }
    else
    {
        <a asp-page="/Secure/Catalog/Index" asp-route-id="@Model.Product.Id">Back To Catalog</a>

    }
</div>



